/* General Editor CSS */
/* This will affect the Editor UI and fields, but not their content. */

/* Use class .nightMode or .night_mode for night mode specific CSS */
/* Use the attribute selector mid for for note type specific CSS, e.g. [mid="1616909476324"] */

/* For Templated Closet Master*/

	/* This block makes all the fields lie in a grid of 8 columns and however many rows as are needed */
		[mid="1627125991388"] #fields {
			display: grid;
			grid-template-columns: repeat(8, 1fr);
			gap: unset;
			grid-auto-rows: minmax(auto, auto);
			grid-auto-columns: minmax(0,auto);
		}
	/* This block removes the initial 9 fields from the previously assigned grid */
		[mid="1627125991388"] #fields > div:nth-child(n+1):nth-child(-n+8){
			  grid-column: 1 / 9
		}


/* For Hiding the toolbar buttons at the top of the fields */

#bold, #italic, #underline, #superscript, #subscript, #topbutsright > button:nth-child(6), #topbutsright > button:nth-child(n+9):nth-child(-n+11), #topbutsright > button:nth-child(n+21):nth-child(-n+27), button[title="Set foreground colour (F7)"], button[title="Change colour (F8)"] {
	display: none;
}